{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Non-bootstrap content -->
<link rel="stylesheet" type="text/css" href="{% static 'goodday/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">


<ul id="menu">
    <div id="hamburger">☰</div>
    <div id="fixed-nav">
        {% if user.is_authenticated %}
            <a href="../" class="nav-link">My Posts</a> |
            &#9728; Hello, <a href="#" class="nav-link">{{ user.first_name }}</a> | <a href="/accounts/logout" class="nav-link">Log out</a>
        {% else %}
            <a href="/accounts/login" class="nav-link">Login</a>
        {% endif %}

    </div>
</ul>
<div class="body-top">
    <a href="#"><img src="{% static 'goodday/images/logo.svg' %}" alt="Positiv Software Logo" id="logo" class="img-responsive"/></a>
    <a href="#"><img src="{% static 'goodday/images/logo-small.svg' %}" alt="Positiv Software Logo" id="logo-small" class="img-responsive"/></a>
</div>

<div class="signin-main">
    {% block content %}
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            <!-- {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %} -->
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
    {% endblock %}
</div>

<!-- footer -->
<div class="body-footer">
    &#169; Positiv Software 2018
</div>





<!-- Script -->
<script>

$(document).ready(function(){

	// Hamburger
	$("#hamburger").click(function(event){
		$("#menu>div:not(#hamburger)").slideToggle();
		event.stopPropagation();
	});

}); // End ready()



// Show hidden menu on window resize
$(window).resize(function() {
	if ($(window).width() >= 800) {
		$("#menu>div:not(#hamburger)").show();
	}
});

</script>
